<% if @mobile==false%>
  <div class="hover_showreel">
    Смотреть шоурил
  </div>
<% end %>

<div class="pop_up_showreel">

  <div class="pop_up_close">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="25.4558" y="2.12109" width="33" height="3" rx="1.5" transform="rotate(135 25.4558 2.12109)" fill="#FDD32A"/>
    <rect x="2.45581" y="0.121094" width="33" height="3" rx="1.5" transform="rotate(45 2.45581 0.121094)" fill="#FDD32A"/>
    </svg>

  </div>


  <iframe class="js-iframe-portfolio" width='100%' height='100%' src="https://rutube.ru/play/embed/bfb154c204daf3c84cc8e21c07b35f37/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <%# <iframe id="video_showreel"  src="https://www.youtube.com/embed/GF3K44b3uqI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> %>

</div>


<div class="block_menu_mobile">

  <svg class="button_close" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="26.0007" y="3" width="33" height="3" rx="1.5" transform="rotate(135 26.0007 3)" fill="#FDD32A"/>
    <rect x="3.00073" y="1" width="33" height="3" rx="1.5" transform="rotate(45 3.00073 1)" fill="#FDD32A"/>
  </svg>
  <div class="clear"></div>

  <ul>
    <li>
      <a href="javascript:void(9)" class="js-scroll" anchor="title_section_about_us">Кто мы</a>
    </li>
    <li>
      <a href="javascript:void(9)" class="js-scroll" anchor="title_section_portfolio">Кейсы</a>
    </li>
    <li>
      <a href="javascript:void(9)" class="js-scroll" anchor="title_section_services">Услуги</a>
    </li>
    <li>
      <a href="javascript:void(9)" class="js-scroll" anchor="price_rouble">Стоимость</a>
    </li>
    <li>
      <a href="javascript:void(9)" class="js-scroll" anchor="title_section_contacts">Контакты</a>
    </li>
  </ul>


</div>

<div class="placebo_background"></div>
<div class="head_overflow">
  <div class="head">


    <div class="head_rectange"></div>

    <div id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=QsCPaKchzrI&t=22s',containment:'body',autoPlay:true, mute:true, showControls:false, startAt:0, opacity:1}"></div>


    <div class="head_content">
      <div class="head_logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 393.75 77.95">
          <polygon points="112.19 3.08 124.53 3.08 151.82 74.87 137.47 74.87 112.19 3.08" style="fill:#fff"/><polygon points="125.53 56.97 105.72 56.97 99.15 74.87 84.8 74.87 106.76 17.32 113.64 31.88 108.05 47.16 120.89 47.16 125.53 56.97" style="fill:#fff"/><path d="M172.56,106V34.2h48.22V46.43H186.51v18.5H215V76.25H186.51V106Z" transform="translate(-14.38 -31.11)" style="fill:#fff"/><path d="M228.9,106V34.2h13.95V93.74h36.6V106Z" transform="translate(-14.38 -31.11)" style="fill:#fff"/><path d="M335.88,93.74V106H286V34.2H335V46.43H300V63.72h30.23V75H300v18.7Z" transform="translate(-14.38 -31.11)" style="fill:#fff"/><path d="M371.48,86l-13.29,20H343l20.61-29.45ZM342.21,34.2h15.17l17.89,26.69,17.8-26.69h15.06L382.55,70.59,407.32,106H392.26Z" transform="translate(-14.38 -31.11)" style="fill:#fff"/></svg>
      </div>

      <ul class='head_menu'>
        <li>
          <a href="javascript:void(9)" class="js-scroll" anchor="title_section_about_us">Кто мы</a>
        </li>
        <li>
          <a href="javascript:void(9)" class="js-scroll" anchor="title_section_portfolio">Кейсы</a>
        </li>
        <li>
          <a href="javascript:void(9)" class="js-scroll" anchor="title_section_services">Услуги</a>
        </li>
        <li>
          <a href="javascript:void(9)" class="js-scroll" anchor="price_rouble">Стоимость</a>
        </li>
        <li>
          <a href="javascript:void(9)" class="js-scroll" anchor="title_section_contacts">Контакты</a>
        </li>
      </ul>
      <div class="head_menu_mobile">
        <svg width="33" height="24" viewBox="0 0 33 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="33" height="3.5" fill="white"/>
          <rect y="10.1538" width="33" height="3.5" fill="white"/>
          <rect y="20.3076" width="33" height="3.5" fill="white"/>
        </svg>
      </div>
      <div class="clear"></div>
    </div>

    <div class="block_center_head_parent">
      <div class="block_center_head">
        <div class="block_center_head_name">
          <div class="block_center_head_name_parent">
            <div class="logo_showreel_hover js-open-showreel">

            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 393.75 77.95">
              <path d="M92.33,70.09a39,39,0,1,1-39-39A39,39,0,0,1,92.33,70.09Zm-14.77-.84L41.79,45.56a1,1,0,0,0-1.51.84V94.08a1,1,0,0,0,1.51.84l35.77-24A1,1,0,0,0,77.56,69.25Z" transform="translate(-14.38 -31.11)" style="fill:#f2d156; cursor: pointer;"/>
              <polygon points="112.19 3.08 124.53 3.08 151.82 74.87 137.47 74.87 112.19 3.08" style="fill:#fff"/><polygon points="125.53 56.97 105.72 56.97 99.15 74.87 84.8 74.87 106.76 17.32 113.64 31.88 108.05 47.16 120.89 47.16 125.53 56.97" style="fill:#fff"/><path d="M172.56,106V34.2h48.22V46.43H186.51v18.5H215V76.25H186.51V106Z" transform="translate(-14.38 -31.11)" style="fill:#fff"/><path d="M228.9,106V34.2h13.95V93.74h36.6V106Z" transform="translate(-14.38 -31.11)" style="fill:#fff"/><path d="M335.88,93.74V106H286V34.2H335V46.43H300V63.72h30.23V75H300v18.7Z" transform="translate(-14.38 -31.11)" style="fill:#fff"/><path d="M371.48,86l-13.29,20H343l20.61-29.45ZM342.21,34.2h15.17l17.89,26.69,17.8-26.69h15.06L382.55,70.59,407.32,106H392.26Z" transform="translate(-14.38 -31.11)" style="fill:#fff"/></svg>
            </div>
        </div>
        <div class="block_center_head_title">
          Создаем видео для успешного бизнеса
        </div>
        <div class="block_center_head_button yellow_button js-open-showreel">
        </div>
      </div>
    </div>

    <div class="head_button_scroll js-scroll" anchor="title_section_about_us">
      <svg width="38" height="18" viewBox="0 0 38 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L19 16L37 1" stroke="white" stroke-width="2"/>
      </svg>
    </div>

  </div>
</div>


<div class="main_content">
  <div class="content">
    <div class="camera">

      <div class="camera_line_top"></div>
      <div class="camera_line_left"></div>
      <div class="camera_line_right"></div>
      <div class="camera_line_bottom"></div>


      <img class="lazyload" data-src="/img/camera.png" >
    </div>

    <div class="title_section title_section_about_us">О нас</div>
    <div class="about_us_description">
      Мы – команда профессионалов в сфере производства видео,<br>
специализирующаяся на роликах для бизнеса.
    </div>

    <div class="point_about_us">
      <div class="point_about_us_icon">
        <svg width="42" height="58" viewBox="0 0 42 58" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.6456 0C25.129 0 26.4787 0.73848 27.2901 1.96135C30.1843 2.24852 32.4542 4.72802 32.4543 7.73337V12.5666L32.4542 12.5832V15.4663H32.4542C34.56 15.4663 36.2723 17.2006 36.2723 19.333C36.2723 21.4655 34.56 23.1997 32.4542 23.1997H32.2369C31.9418 26.9982 29.8312 30.3202 26.727 32.2119V36.9459C26.7232 37.4457 27.084 37.8603 27.567 37.9193L34.5323 38.7507C38.7905 39.3268 41.994 43.0291 41.9998 47.3656V57.9999H40.0907V54.1331H34.3634V58H32.4543V50.2666H34.3634V52.1997H40.0907V47.3668C40.0869 43.996 37.5945 41.1152 34.2937 40.6687L29.999 40.1563L29.8578 40.4892C28.3372 44.0804 24.8616 46.4004 21.0044 46.4004H20.9938C17.1355 46.4004 13.6619 44.0804 12.1423 40.4882L11.9975 40.1471L7.69045 40.6607C4.40018 41.1064 1.90882 43.99 1.90882 47.3665V52.1997H7.63593V50.2666H9.54505V58H7.63593V54.1331H1.90882V57.9999H-0.000305176V47.3665C-0.000305176 43.0262 3.20316 39.319 7.45275 38.7429L14.4352 37.9096C14.9144 37.8507 15.2762 37.436 15.2724 36.943V32.2543C14.7408 31.9346 14.2313 31.5682 13.7491 31.1569C11.4457 29.1926 10.0348 26.4376 9.77811 23.3994L9.76292 23.1997H9.54513C7.43935 23.1997 5.72699 21.4653 5.72699 19.3329C5.72699 17.2005 7.43935 15.4663 9.54513 15.4663H9.54619L9.54543 13.4362C7.3694 12.9872 5.72699 11.0341 5.72699 8.69989C5.72699 8.16633 6.15463 7.73326 6.6815 7.73326H6.6834C6.08394 6.92511 5.72699 5.92076 5.72699 4.83326C5.72699 4.2997 6.15463 3.86663 6.6815 3.86663H6.6834C6.08394 3.05848 5.72699 2.05413 5.72699 0.966629C5.72699 0.433074 6.15463 0 6.6815 0H23.6342H23.6456ZM13.9776 39.9109C15.2357 42.6853 17.9676 44.467 20.9947 44.467H21.0033C24.0272 44.467 26.7573 42.6893 28.0182 39.92L27.3408 39.8392C25.8898 39.6613 24.8074 38.4142 24.8179 36.9382V33.143C24.2327 33.3633 23.6237 33.5373 22.9948 33.6605C22.6463 33.7234 22.3094 33.7688 21.9715 33.7978C21.6432 33.8268 21.3167 33.8413 20.9902 33.8413C19.6785 33.8413 18.3935 33.612 17.1815 33.1684V36.9362C17.192 38.4054 16.1086 39.6524 14.6615 39.8294L13.9776 39.9109ZM11.4541 13.5333V15.4663H19.0905H22.9087H22.9088H30.5461L30.5457 13.2784C29.0353 12.7487 27.6518 11.9002 26.4874 10.7889C22.7799 12.1809 18.495 13.5333 14.3179 13.5333H11.4541ZM20.1721 23.2L20.8869 17.3997H21.9543V18.8709C21.961 21.7931 24.3111 24.1663 27.1947 24.1663H27.2053H27.2253C28.3571 24.1632 29.4328 23.8007 30.3254 23.131C29.9492 27.4137 26.8204 30.9422 22.6461 31.7601C22.3693 31.8094 22.0906 31.8471 21.8089 31.8712C16.6811 32.3216 12.1204 28.4435 11.6803 23.2418L11.6716 23.129C12.568 23.8023 13.6492 24.1663 14.7856 24.1663H14.797H14.8161C16.1129 24.1627 17.3361 23.6874 18.2945 22.8187L18.1429 24.0468C18.1094 24.3223 18.1934 24.5989 18.3749 24.8066C18.5563 25.0144 18.8168 25.1333 19.0908 25.1333H21.9544V23.2H20.1721ZM32.4542 18.9065L32.4543 18.8497V17.3997C33.5071 17.3997 34.3633 18.2668 34.3633 19.333C34.3633 20.3993 33.5071 21.2664 32.4542 21.2664H32.3813L32.4542 20.3004V18.9065ZM7.636 19.3329C7.636 18.2667 8.49228 17.3997 9.5451 17.3997V18.8709C9.54524 18.9206 9.54604 18.9703 9.54751 19.0199L9.54801 20.3747L9.61584 21.2663H9.54513C8.4923 21.2663 7.636 20.3993 7.636 19.3329ZM27.419 9.00155C28.3057 9.94802 29.3701 10.6971 30.5442 11.2066V7.73326C30.5442 5.60085 28.8318 3.86663 26.726 3.86663C26.3643 3.86663 26.0331 3.65978 25.8718 3.33115C25.4469 2.46693 24.5621 1.94493 23.6371 1.93337H7.79932C8.19352 3.05859 9.25496 3.86674 10.4997 3.86674C11.0266 3.86674 11.4543 4.29982 11.4543 4.83337C11.4543 5.36692 11.0266 5.8 10.4997 5.8H7.79932C8.19352 6.92522 9.25496 7.73337 10.4997 7.73337C11.0266 7.73337 11.4543 8.16644 11.4543 8.7C11.4543 9.23355 11.0266 9.66663 10.4997 9.66663H7.79932C8.19352 10.7918 9.25496 11.6 10.4997 11.6H14.3179C18.9583 11.6 23.9767 9.68351 26.3892 8.76218L26.39 8.76185C26.748 8.62353 27.1556 8.71926 27.419 9.00155ZM19.2528 27.0666C20.739 27.0656 22.1365 26.4798 23.1884 25.4155L24.5381 26.7834C23.1263 28.2121 21.2488 28.999 19.2528 29H19.0905V27.0666H19.2528ZM18.136 18.8516C18.1398 20.7125 16.6488 22.2291 14.8142 22.233H14.7951H14.7856C12.9518 22.233 11.458 20.724 11.4542 18.8497V17.3997H13.619C13.4563 17.6842 13.3632 18.0146 13.3632 18.367C13.3632 19.4347 14.218 20.3003 15.2723 20.3003C16.3267 20.3003 17.1815 19.4347 17.1815 18.367C17.1815 18.0146 17.0884 17.6842 16.9257 17.3997H18.136V18.8516ZM29.5754 21.2403C30.2035 20.6013 30.548 19.7535 30.5461 18.8526V17.3997H28.3803C28.543 17.6842 28.6361 18.0146 28.6361 18.367C28.6361 19.4347 27.7813 20.3003 26.7269 20.3003C25.6726 20.3003 24.8178 19.4347 24.8178 18.367C24.8178 18.0146 24.9109 17.6842 25.0736 17.3997H23.8633V18.8497C23.8681 20.727 25.3715 22.1953 27.2023 22.233H27.2042H27.2243C28.112 22.2311 28.9483 21.8783 29.5754 21.2403Z" fill="#FDD32A"/>
        </svg>

      </div>
      <div class="point_about_us_text">
        Квалифицированные<br> специалисты
      </div>
    </div>

    <div class="point_about_us">
      <div class="point_about_us_icon">
        <svg width="41" height="58" viewBox="0 0 41 58" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M3.96643 23.2H0.971916C0.435011 23.2 -0.000305176 22.7672 -0.000305176 22.2334V17.4C-0.000305176 7.79046 7.8349 0 17.4997 0C27.1644 0 34.9997 7.79046 34.9997 17.4V22.2334C34.9997 22.7672 34.5643 23.2 34.0274 23.2H31.0329C30.5995 26.1638 28.2582 28.4917 25.2774 28.9226V29C25.2774 30.6016 23.9715 31.9001 22.3608 31.9001C20.7501 31.9001 19.4441 30.6016 19.4441 29V15.4667C19.4441 13.8652 20.7501 12.5667 22.3608 12.5667C23.9715 12.5667 25.2774 13.8652 25.2774 15.4667V15.5441C26.7557 15.7551 28.1224 16.4447 29.1663 17.5062V17.4C29.1663 10.9935 23.943 5.80001 17.4997 5.80001C11.0563 5.80001 5.83302 10.9935 5.83302 17.4V17.5062C6.87692 16.4447 8.24364 15.7551 9.72191 15.5441V15.4667C9.72191 13.8652 11.0279 12.5667 12.6386 12.5667C14.2493 12.5667 15.5552 13.8652 15.5552 15.4667V29C15.5552 30.6016 14.2493 31.9001 12.6386 31.9001C11.0279 31.9001 9.72191 30.6016 9.72191 29V28.9226C6.74116 28.4917 4.39985 26.1638 3.96643 23.2ZM11.6663 15.4667V28.0334V29C11.6663 29.5339 12.1017 29.9667 12.6386 29.9667C13.1755 29.9667 13.6108 29.5339 13.6108 29V15.4667C13.6108 14.9329 13.1755 14.5 12.6386 14.5C12.1017 14.5 11.6663 14.9329 11.6663 15.4667ZM23.333 29V16.4334V15.4667C23.333 14.9329 22.8977 14.5 22.3608 14.5C21.8239 14.5 21.3886 14.9329 21.3886 15.4667V29C21.3886 29.5339 21.8239 29.9667 22.3608 29.9667C22.8977 29.9667 23.333 29.5339 23.333 29ZM29.1711 22.2334C29.1711 19.9347 27.5433 17.9542 25.2774 17.4968V26.9699C27.5433 26.5126 29.1711 24.532 29.1711 22.2334ZM9.72191 26.9699V17.4968C7.45608 17.9542 5.82827 19.9347 5.82827 22.2334C5.82827 24.532 7.45608 26.5126 9.72191 26.9699ZM17.4997 1.93334C8.90872 1.93334 1.94414 8.85814 1.94414 17.4V21.2667H3.88858V17.4C3.88858 9.92581 9.98253 3.86667 17.4997 3.86667C25.0168 3.86667 31.1108 9.92581 31.1108 17.4V21.2667H33.0552V17.4C33.0552 8.85814 26.0906 1.93334 17.4997 1.93334ZM9.23576 38L10.2358 36H22.7636L23.7636 38H9.23576ZM6.99969 38L8.7233 34.5528C8.89269 34.214 9.23896 34 9.61773 34H23.3817C23.7604 34 24.1067 34.214 24.2761 34.5528L25.9997 38H29.9997C31.6565 38 32.9997 39.3431 32.9997 41V42.6L39.8036 41.2392C40.4224 41.1155 40.9997 41.5888 40.9997 42.2198V53.7802C40.9997 54.4112 40.4224 54.8845 39.8036 54.7608L32.9997 53.4V55C32.9997 56.6569 31.6565 58 29.9997 58H2.99969C1.34284 58 -0.000305176 56.6569 -0.000305176 55V41C-0.000305176 39.3431 1.34284 38 2.99969 38H6.99969ZM30.9997 53V43V41C30.9997 40.4477 30.552 40 29.9997 40H26.9997H24.7636H8.23576H5.99969H2.99969C2.44741 40 1.99969 40.4477 1.99969 41V55C1.99969 55.5523 2.44741 56 2.99969 56H29.9997C30.552 56 30.9997 55.5523 30.9997 55V53ZM32.9997 51.3604L38.9997 52.5604V43.4396L32.9997 44.6396V51.3604ZM16.9997 49H6.99969V52H16.9997V49ZM6.99969 47C5.89513 47 4.99969 47.8954 4.99969 49V52C4.99969 53.1046 5.89513 54 6.99969 54H16.9997C18.1043 54 18.9997 53.1046 18.9997 52V49C18.9997 47.8954 18.1043 47 16.9997 47H6.99969ZM21.9997 43H26.9997V46H21.9997V43Z" fill="#FDD32A"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M3.96643 23.2H0.971916C0.435011 23.2 -0.000305176 22.7672 -0.000305176 22.2334V17.4C-0.000305176 7.79046 7.8349 0 17.4997 0C27.1644 0 34.9997 7.79046 34.9997 17.4V22.2334C34.9997 22.7672 34.5643 23.2 34.0274 23.2H31.0329C30.5995 26.1638 28.2582 28.4917 25.2774 28.9226V29C25.2774 30.6016 23.9715 31.9001 22.3608 31.9001C20.7501 31.9001 19.4441 30.6016 19.4441 29V15.4667C19.4441 13.8652 20.7501 12.5667 22.3608 12.5667C23.9715 12.5667 25.2774 13.8652 25.2774 15.4667V15.5441C26.7557 15.7551 28.1224 16.4447 29.1663 17.5062V17.4C29.1663 10.9935 23.943 5.80001 17.4997 5.80001C11.0563 5.80001 5.83302 10.9935 5.83302 17.4V17.5062C6.87692 16.4447 8.24364 15.7551 9.72191 15.5441V15.4667C9.72191 13.8652 11.0279 12.5667 12.6386 12.5667C14.2493 12.5667 15.5552 13.8652 15.5552 15.4667V29C15.5552 30.6016 14.2493 31.9001 12.6386 31.9001C11.0279 31.9001 9.72191 30.6016 9.72191 29V28.9226C6.74116 28.4917 4.39985 26.1638 3.96643 23.2ZM11.6663 15.4667V28.0334V29C11.6663 29.5339 12.1017 29.9667 12.6386 29.9667C13.1755 29.9667 13.6108 29.5339 13.6108 29V15.4667C13.6108 14.9329 13.1755 14.5 12.6386 14.5C12.1017 14.5 11.6663 14.9329 11.6663 15.4667ZM23.333 29V16.4334V15.4667C23.333 14.9329 22.8977 14.5 22.3608 14.5C21.8239 14.5 21.3886 14.9329 21.3886 15.4667V29C21.3886 29.5339 21.8239 29.9667 22.3608 29.9667C22.8977 29.9667 23.333 29.5339 23.333 29ZM29.1711 22.2334C29.1711 19.9347 27.5433 17.9542 25.2774 17.4968V26.9699C27.5433 26.5126 29.1711 24.532 29.1711 22.2334ZM9.72191 26.9699V17.4968C7.45608 17.9542 5.82827 19.9347 5.82827 22.2334C5.82827 24.532 7.45608 26.5126 9.72191 26.9699ZM17.4997 1.93334C8.90872 1.93334 1.94414 8.85814 1.94414 17.4V21.2667H3.88858V17.4C3.88858 9.92581 9.98253 3.86667 17.4997 3.86667C25.0168 3.86667 31.1108 9.92581 31.1108 17.4V21.2667H33.0552V17.4C33.0552 8.85814 26.0906 1.93334 17.4997 1.93334ZM9.23576 38L10.2358 36H22.7636L23.7636 38H9.23576ZM6.99969 38L8.7233 34.5528C8.89269 34.214 9.23896 34 9.61773 34H23.3817C23.7604 34 24.1067 34.214 24.2761 34.5528L25.9997 38H29.9997C31.6565 38 32.9997 39.3431 32.9997 41V42.6L39.8036 41.2392C40.4224 41.1155 40.9997 41.5888 40.9997 42.2198V53.7802C40.9997 54.4112 40.4224 54.8845 39.8036 54.7608L32.9997 53.4V55C32.9997 56.6569 31.6565 58 29.9997 58H2.99969C1.34284 58 -0.000305176 56.6569 -0.000305176 55V41C-0.000305176 39.3431 1.34284 38 2.99969 38H6.99969ZM30.9997 53V43V41C30.9997 40.4477 30.552 40 29.9997 40H26.9997H24.7636H8.23576H5.99969H2.99969C2.44741 40 1.99969 40.4477 1.99969 41V55C1.99969 55.5523 2.44741 56 2.99969 56H29.9997C30.552 56 30.9997 55.5523 30.9997 55V53ZM32.9997 51.3604L38.9997 52.5604V43.4396L32.9997 44.6396V51.3604ZM16.9997 49H6.99969V52H16.9997V49ZM6.99969 47C5.89513 47 4.99969 47.8954 4.99969 49V52C4.99969 53.1046 5.89513 54 6.99969 54H16.9997C18.1043 54 18.9997 53.1046 18.9997 52V49C18.9997 47.8954 18.1043 47 16.9997 47H6.99969ZM21.9997 43H26.9997V46H21.9997V43Z" fill="#FDD32A"/>
</svg>


      </div>
      <div class="point_about_us_text">
        Грамотный подбор<br> технических средств
      </div>
    </div>

    <div class="point_about_us">
      <div class="point_about_us_icon">
        <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5709 0H45.4252C48.0924 0.00330403 50.2539 2.16556 50.2567 4.83333V35.7666H48.3241V4.83333C48.3241 3.23182 47.0266 1.93333 45.4252 1.93333H12.5709C10.97 1.93333 9.67204 3.23182 9.67204 4.83333V36.7333H7.73944V4.83333C7.74274 2.16556 9.90418 0.00330403 12.5709 0ZM41.5601 56.0667H38.3741L35.2123 47.3667H53.1588C55.8255 47.3634 57.987 45.2016 57.9903 42.5334L57.9997 39.6334L57.9903 12.5667C57.987 9.89896 55.8255 7.7367 53.1588 7.7334H52.1925V9.66673H53.1588C54.7597 9.66673 56.0577 10.9652 56.0577 12.5667L56.0671 38.6667L29.9645 38.6667L28.0349 38.6667L1.9323 38.6667L1.94173 12.5667C1.94173 10.9652 3.23973 9.66673 4.84064 9.66673H5.80694V7.7334H4.84064C2.17387 7.7367 0.0124342 9.89896 0.00913136 12.5667L-0.000305176 39.6334L0.00913136 42.5334C0.0124342 45.2016 2.17387 47.3634 4.84064 47.3667H22.787L19.6253 56.0667H16.4363V58H21.6851H41.5601H41.5631V56.0667H41.5601ZM56.0643 40.6H29.9645H28.0349H1.93513L1.94173 42.5334C1.94173 44.1349 3.23973 45.4333 4.84064 45.4333H24.1667C24.4818 45.4338 24.7772 45.5877 24.9579 45.8459C25.1386 46.1041 25.182 46.4345 25.0745 46.7309L21.6816 56.0667H21.6851H36.3143L35.7344 54.4642L35.7353 54.4639L32.9249 46.7309C32.8174 46.4345 32.8608 46.1041 33.0415 45.8459C33.2222 45.5877 33.5175 45.4338 33.8327 45.4333H53.1588C54.7597 45.4333 56.0577 44.1349 56.0577 42.5334L56.0643 40.6ZM12.571 3.8667H14.5036V5.80003H12.571V3.8667ZM18.3688 3.8667H16.4362V5.80003H18.3688V3.8667ZM20.3015 3.8667H22.2341V5.80003H20.3015V3.8667ZM45.4189 7.7334H12.5646V9.66673H45.4189V7.7334ZM38.7103 17.8111C37.7219 16.2677 36.3796 14.9871 34.7959 14.0766C29.2739 10.8734 22.2017 12.7939 18.9997 18.3663C15.7978 23.9383 17.6783 31.0528 23.2003 34.256C28.7223 37.4593 35.7948 35.5383 38.9966 29.9663C39.1745 29.6568 39.3366 29.3425 39.4828 29.0238L37.734 28.2157C37.6119 28.481 37.479 28.7406 37.3302 28.9997C34.662 33.643 28.7684 35.2439 24.1666 32.5744C19.5649 29.905 17.9979 23.9763 20.6661 19.333C23.3345 14.6893 29.2279 13.0888 33.8296 15.7582C35.1492 16.5166 36.2679 17.5832 37.0913 18.8688L38.7103 17.8111ZM24.6574 17.5256C24.9603 17.3543 25.3326 17.359 25.6308 17.5384L35.2938 23.3383C35.5844 23.513 35.7623 23.8278 35.7623 24.1667C35.7623 24.5061 35.5844 24.8204 35.2938 24.9951L25.6308 30.7951C25.3326 30.9744 24.9603 30.9796 24.6574 30.8078C24.3545 30.6365 24.1672 30.315 24.1667 29.9667V18.3667C24.1672 18.0184 24.3545 17.697 24.6574 17.5256ZM32.9186 24.1667L26.0993 20.0749V28.2585L32.9186 24.1667Z" fill="#FDD32A"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5709 0H45.4252C48.0924 0.00330403 50.2539 2.16556 50.2567 4.83333V35.7666H48.3241V4.83333C48.3241 3.23182 47.0266 1.93333 45.4252 1.93333H12.5709C10.97 1.93333 9.67204 3.23182 9.67204 4.83333V36.7333H7.73944V4.83333C7.74274 2.16556 9.90418 0.00330403 12.5709 0ZM41.5601 56.0667H38.3741L35.2123 47.3667H53.1588C55.8255 47.3634 57.987 45.2016 57.9903 42.5334L57.9997 39.6334L57.9903 12.5667C57.987 9.89896 55.8255 7.7367 53.1588 7.7334H52.1925V9.66673H53.1588C54.7597 9.66673 56.0577 10.9652 56.0577 12.5667L56.0671 38.6667L29.9645 38.6667L28.0349 38.6667L1.9323 38.6667L1.94173 12.5667C1.94173 10.9652 3.23973 9.66673 4.84064 9.66673H5.80694V7.7334H4.84064C2.17387 7.7367 0.0124342 9.89896 0.00913136 12.5667L-0.000305176 39.6334L0.00913136 42.5334C0.0124342 45.2016 2.17387 47.3634 4.84064 47.3667H22.787L19.6253 56.0667H16.4363V58H21.6851H41.5601H41.5631V56.0667H41.5601ZM56.0643 40.6H29.9645H28.0349H1.93513L1.94173 42.5334C1.94173 44.1349 3.23973 45.4333 4.84064 45.4333H24.1667C24.4818 45.4338 24.7772 45.5877 24.9579 45.8459C25.1386 46.1041 25.182 46.4345 25.0745 46.7309L21.6816 56.0667H21.6851H36.3143L35.7344 54.4642L35.7353 54.4639L32.9249 46.7309C32.8174 46.4345 32.8608 46.1041 33.0415 45.8459C33.2222 45.5877 33.5175 45.4338 33.8327 45.4333H53.1588C54.7597 45.4333 56.0577 44.1349 56.0577 42.5334L56.0643 40.6ZM12.571 3.8667H14.5036V5.80003H12.571V3.8667ZM18.3688 3.8667H16.4362V5.80003H18.3688V3.8667ZM20.3015 3.8667H22.2341V5.80003H20.3015V3.8667ZM45.4189 7.7334H12.5646V9.66673H45.4189V7.7334ZM38.7103 17.8111C37.7219 16.2677 36.3796 14.9871 34.7959 14.0766C29.2739 10.8734 22.2017 12.7939 18.9997 18.3663C15.7978 23.9383 17.6783 31.0528 23.2003 34.256C28.7223 37.4593 35.7948 35.5383 38.9966 29.9663C39.1745 29.6568 39.3366 29.3425 39.4828 29.0238L37.734 28.2157C37.6119 28.481 37.479 28.7406 37.3302 28.9997C34.662 33.643 28.7684 35.2439 24.1666 32.5744C19.5649 29.905 17.9979 23.9763 20.6661 19.333C23.3345 14.6893 29.2279 13.0888 33.8296 15.7582C35.1492 16.5166 36.2679 17.5832 37.0913 18.8688L38.7103 17.8111ZM24.6574 17.5256C24.9603 17.3543 25.3326 17.359 25.6308 17.5384L35.2938 23.3383C35.5844 23.513 35.7623 23.8278 35.7623 24.1667C35.7623 24.5061 35.5844 24.8204 35.2938 24.9951L25.6308 30.7951C25.3326 30.9744 24.9603 30.9796 24.6574 30.8078C24.3545 30.6365 24.1672 30.315 24.1667 29.9667V18.3667C24.1672 18.0184 24.3545 17.697 24.6574 17.5256ZM32.9186 24.1667L26.0993 20.0749V28.2585L32.9186 24.1667Z" fill="#FDD32A"/>
</svg>


      </div>
      <div class="point_about_us_text">
        Высококлассный<br> постпродакшн
      </div>
    </div>

    <div class="clear"></div>

    <div class="title_section title_section_plus">Наши преимущества</div>

    <div class="point_plus">
      <div class="point_plus_icon">
        <img src="/img/1.png" >
      </div>
      <div class="point_plus_text">
        Соответствие результата ожиданиям
      </div>
    </div>

    <div class="point_plus">
      <div class="point_plus_icon">
        <img src="/img/2.png" >
      </div>
      <div class="point_plus_text">
        Максимум возможностей<br> внутри бюджета
      </div>
    </div>

    <div class="point_plus">
      <div class="point_plus_icon">
        <img src="/img/3.png" >
      </div>
      <div class="point_plus_text">
        Адекватный задачам<Br> креатив
      </div>
    </div>

    <div class="clear"></div>

    <div class="point_plus">
      <div class="point_plus_icon">
        <img src="/img/4.png" >
      </div>
      <div class="point_plus_text">
        Инициативность<Br> и решения «под ключ»
      </div>
    </div>

    <div class="point_plus">
      <div class="point_plus_icon">
        <img src="/img/5.png" >
      </div>
      <div class="point_plus_text">
        Гибкость на всех этапах<br> производства
      </div>
    </div>


    <div class="title_section title_section_portfolio">Наше портфолио</div>

    <div class="block_portfolios">

      <%Portfolio.all.order(position: :asc).each do |portfolio|%>
        <div class="point_potfolio">

          <div style="padding:56.25% 0 0 0;position:relative;">
            <% if portfolio.vimeo_id.present? %>
              <iframe class="js-iframe-portfolio" data-src="https://player.vimeo.com/video/<%=portfolio.vimeo_id%>?byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            <% elsif portfolio.youtube_id.present?%>
              <iframe class="js-iframe-portfolio" data-src="https://www.youtube.com/embed/<%=portfolio.youtube_id%>" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <% else %>
              <iframe class="js-iframe-portfolio" width='100%' height='100%' src="https://rutube.ru/play/embed/<%=portfolio.rutube_id%>/" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>

    <a href="https://rutube.ru/channel/25111388/videos" target="_blank" class="block_center_button_portfolio yellow_button">
    </a>


    <div class="title_section title_section_services">
      Услуги
    </div>

    <%
    type_service='left'
    Service.all.order(position: :asc).each do |service|
      if type_service=='right'
        type_service='left'
      else
        type_service='right'
      end
      %>
      <div class="point_service">
        <div class="<%if type_service=='right'%>point_services_left<%else%>point_services_right<%end%>">

          <div class="point_services_text_block">
            <div class="point_services_text_block_title">
              <%=service.title%>
            </div>
            <div class="point_services_text_block_text">
              <%=raw service.description%>
            </div>
          </div>

          <div class="<%if type_service=='right'%>point_services_arrow_right<%else%>point_services_arrow_left<%end%>">
            <svg width="86" height="59" viewBox="0 0 86 59" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d)">
            <path d="M10 29.4999L74 29.4999" stroke="#334EF7" stroke-width="2"/>
            <path d="M10 29.4999L74 29.4999" stroke="#FFD400" stroke-width="2"/>
            <path d="M56 47.9999L74.5 29.4999L56 10.9999" stroke="#334EF7" stroke-width="2"/>
            <path d="M56 47.9999L74.5 29.4999L56 10.9999" stroke="#FFD400" stroke-width="2"/>
            </g>
            <defs>
            <filter id="filter0_d" x="0" y="0.292847" width="85.9142" height="58.4142" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="5"/>
            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.831373 0 0 0 0 0 0 0 0 0.21 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            </defs>
            </svg>

          </div>
        </div>
        <div class="<%if type_service=='right'%>point_services_right<%else%>point_services_left<%end%>">
          <div class="point_services_image">
            <div class="point_services_image_rect point_services_image_rect_1"></div>
            <div class="point_services_image_rect point_services_image_rect_2"></div>
            <img class='lazyload' data-src="<%=service.image.url(:image)%>" >
          </div>
        </div>
      </div>
    <% end %>


    <div class="clear"></div>

  </div>

  <div class="block_price">

    <div class="block_price_rectange block_price_rectange_1 block_price_rectange_center">
      <div class="block_price_rectange_box"></div>
    </div>
    <div class="block_price_rectange block_price_rectange_2 block_price_rectange_first">
      <div class="block_price_rectange_box"></div>
    </div>
    <div class="block_price_rectange block_price_rectange_3 block_price_rectange_last">
      <div class="block_price_rectange_box"></div>
    </div>
    <div class="block_price_rectange block_price_rectange_4 block_price_rectange_first">
      <div class="block_price_rectange_box"></div>
    </div>
    <div class="block_price_rectange block_price_rectange_5 block_price_rectange_center">
      <div class="block_price_rectange_box"></div>
    </div>
    <div class="block_price_rectange block_price_rectange_6 block_price_rectange_last">
      <div class="block_price_rectange_box"></div>
    </div>
    <div class="block_price_rectange block_price_rectange_7 block_price_rectange_last">
      <div class="block_price_rectange_box"></div>
    </div>
    <div class="block_price_rectange block_price_rectange_8 block_price_rectange_center">
      <div class="block_price_rectange_box"></div>
    </div>
    <div class="block_price_rectange block_price_rectange_9 block_price_rectange_first">
      <div class="block_price_rectange_box"></div>
    </div>
    <div class="block_price_rectange block_price_rectange_10 block_price_rectange_last">
      <div class="block_price_rectange_box"></div>
    </div>


    <div class="content">

      <div class="price_rouble">
        ₽
      </div>

      <div class="price_title">
        Стоимость
      </div>

      <div class="price_description">
        Стоимость видеоролика складывается из множества составляющих: объема сценарного плана, количества используемых технических средств, наличия актеров, степени проработки графического оформления и других аспектов.<Br> <b>Мы с радостью подготовим для вас персонализированное предложение – пожалуйста, свяжитесь с нами!</b><Br>
        А чтобы составить представление о приблизительной стоимости интересующей услуги, ознакомьтесь с расценками AFLEX
      </div>


    </div>

    <div class="block_price_slider owl-carousel owl-theme">


      <% if @mobile==true %>
        <% price=Price.find(1)%>
        <div class="block_price_left">
          <div class="block_price_center_title">
            <%=raw price.name%>
          </div>
          <div class="block_price_center_price">
            <%=raw price.price%>
          </div>
          <div class="block_price_center_description">
            <%=raw price.description%>
          </div>
        </div>
      <% end %>

      <div class="block_price_center">

        <% price=Price.find(2)%>

        <div class="block_price_center_title">
          <%=raw price.name%>
        </div>
        <div class="block_price_center_price">
          <%=raw price.price%>
        </div>
        <div class="block_price_center_description">
          <%=raw price.description%>
        </div>

        <% if @mobile==false %>
          <% price=Price.find(3)%>
          <div class="block_price_right">
            <div class="block_price_center_title">
              <%=raw price.name%>
            </div>
            <div class="block_price_center_price" style='font-size: 24px;'>
              <%=raw price.price%>
            </div>
            <div class="block_price_center_description">
              <%=raw price.description%>
            </div>
          </div>

          <% price=Price.find(1)%>
          <div class="block_price_left">
            <div class="block_price_center_title">
              <%=raw price.name%>
            </div>
            <div class="block_price_center_price">
              <%=raw price.price%>
            </div>
            <div class="block_price_center_description">
              <%=raw price.description%>
            </div>
          </div>
        <% end %>

      </div>

      <% if @mobile==true%>
        <% price=Price.find(3)%>
        <div class="block_price_right">
          <div class="block_price_center_title">
            <%=raw price.name%>
          </div>
          <div class="block_price_center_price" style='font-size: 24px;'>
            <%=raw price.price%>
          </div>
          <div class="block_price_center_description">
            <%=raw price.description%>
          </div>
        </div>

      <% end %>
    </div>

    <div class="price_another_title">
       А также другие услуги под ваши потребности
    </div>
  </div>

  <div class="block_form">
    <div class="block_form_left">
      <img src="/img/form.png" >
    </div>
    <div class="content">
      <div class="block_form_right">
        <form action="" class='form'>
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <div class="form_thanks">
            Спасибо, заявка отправлена!<br>
            Скоро наш менеджер свяжется с Вами!
          </div>
          <div class="form_title">
            Получите консультацию
          </div>
          <input class="js-check-form" type="text" name="name"  placeholder="Ваше имя*">
          <input type="tel" name="phone"  placeholder="Ваш контактный телефон*">
          <input type="email" name="email"  placeholder="Ваш e-mail">
          <textarea name="question" placeholder="Сформулируйте ваш запрос"></textarea>

          <button class="form_button yellow_button">
          </button>
          <div class="clear"></div>

        </form>
      </div>
    </div>

  </div>

  <div class="content">

    <div class="block_contact">
      <div class="title_section title_section_contacts">
        Контакты
      </div>

      <div class="block_contact_lens">
        <div class="block_contact_lens_line_top"></div>
        <div class="block_contact_lens_line_left"></div>
        <div class="block_contact_lens_line_right"></div>
        <div class="block_contact_lens_line_bottom"></div>
        <div class="block_contact_lens_mover lazyload" data-bg="/img/contact_lens.png"></div>
        <div class="block_contact_lens_body lazyload" data-bg="/img/contact_lens_body.png"></div>
      </div>


      <%Contact.all.order(position: :asc).each do |contact|%>

        <div class="point_contact">
          <div class="point_contact_image lazyload" data-bg='<%=contact.image.url(:image)%>'>

          </div>
          <div class="point_contact_info">
            <div class="point_contact_info_name">
              <%=contact.name%>
            </div>
            <div class="point_contact_info_post">
              <%=contact.post%>
            </div>
            <div class="point_contact_info_contact">
              <div class="point_contact_info_contact_icon">
                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.6606 12.3928C13.9978 12.3928 14.2899 12.2814 14.5383 12.0616L10.2886 7.81169C10.1866 7.8847 10.0878 7.9557 9.99442 8.02321C9.67639 8.25753 9.41827 8.44037 9.22006 8.57139C9.02189 8.70271 8.75821 8.83656 8.42907 8.97322C8.09971 9.11004 7.79287 9.17823 7.50823 9.17823H7.4999H7.49156C7.20689 9.17823 6.90005 9.11007 6.57072 8.97322C6.24139 8.83656 5.97771 8.70271 5.77973 8.57139C5.58155 8.44037 5.32357 8.25756 5.00537 8.02321C4.9167 7.95821 4.81836 7.88688 4.71204 7.81055L0.461487 12.0616C0.709828 12.2814 1.00218 12.3928 1.33933 12.3928H13.6606Z" fill="#FFD400"/>
                  <path d="M0.845636 5.13653C0.527632 4.92452 0.245631 4.68171 0.00012207 4.4082V10.8741L3.74583 7.12838C2.99647 6.60523 2.03097 5.94204 0.845636 5.13653Z" fill="#FFD400"/>
                  <path d="M14.1632 5.13653C13.0231 5.90822 12.0541 6.57255 11.256 7.12988L15.0002 10.8742V4.4082C14.7602 4.67621 14.4812 4.91886 14.1632 5.13653Z" fill="#FFD400"/>
                  <path d="M13.6627 0.607422H1.34146C0.911607 0.607422 0.581131 0.752576 0.34962 1.04258C0.117918 1.33273 0.0022583 1.69559 0.0022583 2.13075C0.0022583 2.48225 0.155746 2.86311 0.462584 3.27343C0.769422 3.68359 1.09592 4.00576 1.44192 4.24011C1.6316 4.37412 2.20361 4.77178 3.15795 5.43296C3.67313 5.78996 4.12114 6.10113 4.50614 6.36965C4.8343 6.5983 5.11731 6.79631 5.35097 6.96064C5.3778 6.97946 5.41998 7.00963 5.47597 7.04966C5.5363 7.09299 5.61263 7.14798 5.7068 7.21598C5.88815 7.34714 6.03881 7.45315 6.1588 7.53415C6.27862 7.61517 6.4238 7.70566 6.59412 7.80615C6.7643 7.90651 6.92482 7.98197 7.07547 8.03216C7.22615 8.08233 7.36564 8.10749 7.49397 8.10749H7.5023H7.51063C7.63893 8.10749 7.77845 8.08233 7.92915 8.03216C8.07978 7.98197 8.24016 7.90667 8.41048 7.80615C8.58063 7.70566 8.72562 7.61497 8.84583 7.53415C8.96582 7.45315 9.11648 7.34716 9.29785 7.21598C9.39183 7.14798 9.46817 7.09297 9.52849 7.0498C9.58451 7.0096 9.62666 6.97962 9.65365 6.96064C9.83568 6.83398 10.1193 6.63678 10.5007 6.37196C11.1947 5.8898 12.2167 5.18012 13.5711 4.24011C13.9784 3.9556 14.3187 3.61227 14.5922 3.2106C14.8652 2.80894 15.0021 2.38761 15.0021 1.94676C15.0021 1.57843 14.8694 1.26326 14.6045 1.00075C14.3394 0.738578 14.0254 0.607422 13.6627 0.607422Z" fill="#FFD400"/>
                </svg>

              </div>
              <div class="point_contact_info_contact_value">
                <a href="mailto: <%=contact.email%>">
                  <%=contact.email%>
                </a>
              </div>
            </div>


            <div class="point_contact_info_contact">
              <div class="point_contact_info_contact_icon">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.5553 9.31952L9.72997 7.49822C9.36641 7.13695 8.76434 7.14792 8.3881 7.52342L7.46851 8.44069C7.41041 8.40875 7.35028 8.37538 7.28705 8.33998C6.70634 8.01895 5.91153 7.57895 5.07516 6.7439C4.23631 5.90708 3.79489 5.11289 3.47213 4.53314C3.43808 4.47172 3.40544 4.4125 3.37322 4.35626L3.9904 3.74142L4.29383 3.43831C4.67064 3.06227 4.68103 2.46176 4.31832 2.09943L2.49301 0.277932C2.1303 -0.083882 1.52795 -0.0729056 1.15114 0.303137L0.636711 0.819331L0.650769 0.833255C0.478273 1.05285 0.33413 1.30612 0.226863 1.57924C0.127984 1.83922 0.0664215 2.08731 0.038272 2.3359C-0.202747 4.3294 0.710328 6.15131 3.1883 8.6236C6.6136 12.0408 9.37395 11.7826 9.49303 11.77C9.75239 11.7391 10.0009 11.6773 10.2535 11.5794C10.5249 11.4736 10.7786 11.33 10.9986 11.1583L11.0098 11.1683L11.531 10.6591C11.907 10.2831 11.9178 9.68241 11.5553 9.31952Z" fill="#334EF7"/>
                  <path d="M11.5553 9.31952L9.72997 7.49822C9.36641 7.13695 8.76434 7.14792 8.3881 7.52342L7.46851 8.44069C7.41041 8.40875 7.35028 8.37538 7.28705 8.33998C6.70634 8.01895 5.91153 7.57895 5.07516 6.7439C4.23631 5.90708 3.79489 5.11289 3.47213 4.53314C3.43808 4.47172 3.40544 4.4125 3.37322 4.35626L3.9904 3.74142L4.29383 3.43831C4.67064 3.06227 4.68103 2.46176 4.31832 2.09943L2.49301 0.277932C2.1303 -0.083882 1.52795 -0.0729056 1.15114 0.303137L0.636711 0.819331L0.650769 0.833255C0.478273 1.05285 0.33413 1.30612 0.226863 1.57924C0.127984 1.83922 0.0664215 2.08731 0.038272 2.3359C-0.202747 4.3294 0.710328 6.15131 3.1883 8.6236C6.6136 12.0408 9.37395 11.7826 9.49303 11.77C9.75239 11.7391 10.0009 11.6773 10.2535 11.5794C10.5249 11.4736 10.7786 11.33 10.9986 11.1583L11.0098 11.1683L11.531 10.6591C11.907 10.2831 11.9178 9.68241 11.5553 9.31952Z" fill="#FFD400"/>
                </svg>


              </div>
              <div class="point_contact_info_contact_value">
                <a href="tel: <%=contact.phone%>">
                  <%=contact.phone%>
                </a>
              </div>
            </div>

          </div>
        </div>
      <% end %>


      <div style='height: 300px'></div>

    </div>

  </div>
</div>
