/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= plugin/owl.carousel
*= plugin/owl.theme
*/


@font-face {
    font-family: 'Raleway'; /* имя шрифта для CSS правил */
    src: local("FontAwesome"), /* проверяем наличие шрифта в ОС пользователя */
         url(/fonts/ralewayregular.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
    font-family: 'Raleway-Bold'; /* имя шрифта для CSS правил */
    src: local("FontAwesome"), /* проверяем наличие шрифта в ОС пользователя */
         url(/fonts/ralewaybold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
b{
  font-family: 'Raleway-Bold';
  font-weight: bold;
}

body{
  font-family: 'Raleway';
  margin: 0;
  background: #000;
  color: #FFF;
}

a{
  text-decoration: none;
}

input,textarea{
  font-family: 'Raleway';
}


.clear{
  clear: both;
}


.pop_up_showreel{
  position: fixed !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  z-index: 10000;
  display: none;
}

.pop_up_showreel iframe{
  width: calc(100% - 200px);
  top: 100px;
  height: calc(100% - 200px);
  left: 100px;
  position: absolute;
  z-index: 0;

}

.pop_up_close{
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  z-index: 2;
}


.head{
  position: absolute !important;
  left: 0;
  top: 0;
  height: 90%;
  width: 100%;
  z-index: 2;

}

.head_overflow{
  overflow: hidden;
  position: absolute !important;
  height: calc(110% + 5px);
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 5;
}

.head_content{
  padding-left: 100px;
  padding-right: 100px;
  margin: 0px auto;
  position: relative;
  z-index: 2;
}

.head_logo{
  float: left;
  width: 53px;
  height: 30px;
  margin-top: 46px;
  font-family: 'Raleway-Bold';
  color: #FFFFFF;
  cursor: default;
}
.head_logo svg{
  height: 30px;
  margin-left: -30px;
}

.head_menu{
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 46px;
  line-height: 40px;


  list-style: none;

}
.head_menu li{
  float: left;
}
.head_menu li a{
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  color: #FFF;

  font-family: 'Raleway';

  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.head_menu li a:hover{
  color: #FDD32A;
}

.block_center_head_parent{
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 0;
}
.block_center_head{
  display: inline-block;
}

.block_center_head_name{
  font-size: 144px;
  font-family: 'Raleway-Bold';
  height: 140px;
  display: flex;
  justify-content: center;
}
.block_center_head_name_parent{
  position: relative;
}
.logo_showreel_hover{
  width: 100px;
  height: 100px;
  left: 0;
  top: 0;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  cursor: pointer;
}

.block_center_head_name svg{
  display: block;
  height: 100px;
  position: relative;
  z-index: 0;
}
.block_center_head_title{
  font-size: 28px;
  margin-top: 25px;
}

.block_center_head_button{
  margin: 40px auto 0px auto;
}

.yellow_button{
  width: 220px;
  height: 54px;
  border: 2px solid #FDD32A;
  box-sizing: border-box;
  line-height: 54px;
  text-align: center;
  color: #FDD32A;
  cursor: pointer;
  position: relative;
}
.yellow_button:before{
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: 0%;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #FDD32A;
  transition: 0.3s;
}
.yellow_button:after{
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
.yellow_button:hover::before{
  height: 100%;
}
.yellow_button:hover{
  color: #000;
}

.block_center_head_button:after{
  content: 'Смотреть шоурил';
}

.head_button_scroll{
  position: absolute;
  bottom: 50px;
  left: calc(50% - 18px);
  cursor: pointer;
}



.main_content{
  position: absolute !important;
  width: 100%;
  top: 100%;
  left: 0;
  min-height: 1000px;
  z-index: 10;
  overflow: hidden;
}


.head_rectange{
  position: absolute;
  width: 4000px;
  height: 100%;
  top: 100%;
  background: #000;
  left: calc(50% - 2000px);
  transform: rotate(8deg);
}

#wrapper_bgndVideo{
  position: absolute !important;
  min-height: 110% !important;
  z-index: 1 !important;
}

.placebo_background{
  overflow: hidden;
  position: absolute !important;
  height: 110%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;
  background-image: url(/img/background.png);
  background-size: cover;
  background-position: center;
}


.content{
  max-width: 1100px;
  min-width: 930px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  position: relative;
}


.camera{
  position: absolute;
  left: calc(50% + 180px);
  top: 130px;
  width: 450px;
  height: 450px;
  transform: rotate(-45deg);
}
.camera img{
  position: relative;
  z-index: 2;
  width: 575px;
  transform: rotate(45deg);
  top: -60px;
  left: -60px;
}

.camera_line_left{
  position: absolute;
  height: 450px;
  left: 0;
  width: 5px;
  background: #FFD400;
  top: 0;
  z-index: 0;
  box-shadow: 0px 0px 20px 5px rgba(253,211,42,0.3);
}
.camera_line_right{
  position: absolute;
  height: 450px;
  right: 0;
  width: 5px;
  background: #FFD400;
  top: 0;
  z-index: 4;
  box-shadow: 0px 0px 20px 5px rgba(253,211,42,0.3);
}
.camera_line_top{
  position: absolute;
  width: 450px;
  left: 0;
  height: 5px;
  background: #FFD400;
  top: 0;
  box-shadow: 0px 0px 20px 5px rgba(253,211,42,0.3);
}
.camera_line_bottom{
  position: absolute;
  width: 450px;
  left: 0;
  height: 5px;
  background: #FFD400;
  bottom: 0;
  box-shadow: 0px 0px 20px 5px rgba(253,211,42,0.3);
}


.title_section{
  font-size: 40px;
}
.about_us_description{
  margin-top: 15px;
}


.block_center_button_portfolio{
  margin: 40px auto 0px auto;
  display: block;
}
.block_center_button_portfolio:after{
  content: 'Смотреть все';
}

.title_section_portfolio{
  margin-top: 180px;
  margin-bottom: 50px;
}

.title_section_plus{
  margin-bottom: 70px;
  margin-top: 150px;
}
.block_portfolios{
  overflow: hidden;
}
.point_potfolio{
  width: calc(50% - 10px);
  float: left;
  margin-top: 20px;
}
.point_potfolio img{
  width: 100%;
}
.block_portfolios .point_potfolio:nth-child(2n+1){
  float: right;
}

.point_plus_icon img{
  height:40px;
}

.point_plus{
  float: left;
  width: 280px;
  height: 40px;
  margin-bottom: 50px;
}
.point_plus_icon{
  float: left;
}
.point_plus_text{
  float: right;
  line-height: 20px;
  width: calc(100% - 45px);
}

.point_about_us{
  margin-top: 60px;
  float: left;
  margin-right: 70px;
}
.point_about_us_text{
  margin-top: 20px;
}

.title_section_about_us{
  padding-top: 50px;
}


.title_section_services{
  margin-top: 70px;
}

.point_service{
  padding-top: 1px;
  padding-bottom: 1px;
  perspective: 600px;
}
.point_services_left,.point_services_right{
  width: 50%;
  float: left;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.point_services_right{
  float: right;
}

.point_services_arrow_right{
  position: absolute;
  right: 0;
  top: calc(50% - 30px);
}
.point_services_arrow_left{
  position: absolute;
  left: 0;
  top: calc(50% - 30px);
}
@media screen and (max-width: 1110px) {
  .point_services_arrow_left,.point_services_arrow_right{
    display: none;
  }
}


.point_services_text_block_title{
  font-size: 24px;
  color: #FFD400;
  margin-bottom: 15px;
}

.point_services_image{
  width: calc(100% - 40px);
  position: relative;
}

.point_services_right .point_services_image{
  margin-left: 40px;
}

.point_services_left .point_services_image{
  margin-right: 40px;
}

.point_services_text_block{
  width: calc(100% - 100px);
}

.point_services_image img{
  position: relative;
  z-index: 1;
}
.point_services_image_rect{
  position: absolute;
  border-bottom: 4px solid #FFD400;
  border-left: 4px solid #FFD400;
  border-right: 4px solid #FFD400;
  width: 350px;
  height: 350px;
  top: calc(50% - 175px);
  box-sizing: border-box;
  transform: rotate(45deg);
}
.point_services_image_rect_1{
  z-index: 0;
}
.point_services_left .point_services_image_rect{
  left: -25px;
  transform: rotate(225deg);
}
.point_services_right .point_services_image_rect{
  right: -25px;
}

.point_services_image_rect_2{
  z-index: 2;
  border: none;
  border-top: 4px solid #FFD400;
}

.point_services_right .point_services_text_block{
  margin-left: 100px;
}

.price_rouble{
  font-size: 43px;
  color: #292929;
  text-align: center;
  margin-top: 100px;
}


.price_title{
  font-size: 24px;
  text-align: center;
  color:#FFD400;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Raleway-Bold';
}


.price_description{
  width: 560px;
  margin: 0px auto;
  text-align: center;
}

.block_price_center{
  margin: 150px auto 80px auto;
  position: relative;
  border: 2px solid #FFD400;
  box-sizing: border-box;
  width: 300px;
  min-height: 200px;
}
.block_price_center_title{
  font-size: 24px;
  margin-top: 48px;
  font-family: 'Raleway-Bold';
  text-align: center;
}
.block_price_center_price{
  margin: 22px auto;
  font-size: 36px;
  font-family: 'Raleway-Bold';
  color: #FFD400;
  text-align: center;
}
.block_price_center_price span{
  font-size: 16px;
}
.block_price_center_description{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  font-size: 14px;
}
.block_price_right{
  position: absolute;
  border: 2px solid #FFD400;
  box-sizing: border-box;
  width: 300px;
  min-height: 200px;
  top: 0;
  left: calc(100% + 50px);
}
.block_price_left{
  position: absolute;
  border: 2px solid #FFD400;
  box-sizing: border-box;
  width: 300px;
  min-height: 200px;
  top: 0;
  right: calc(100% + 50px);
}


@media screen and (max-width: 1110px) {
  .block_price_center{
    width: 280px;
  }
  .block_price_right{
    width: 280px;
    left: calc(100% + 30px);
  }
  .block_price_left{
    width: 280px;
    right: calc(100% + 30px);
  }
}
.price_another_title{
  font-size: 24px;
  font-family: 'Raleway-Bold';
  color: #FFD400;
  text-align: center;
  margin-bottom: 100px;
}

.block_form_left{
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: right;
  height: 670px;
}
.block_form_left img{
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}

.block_form_right{
  float: right;
}

.block_form{
  position: relative;
  overflow: hidden;
}

.form_button{
  display: block;
  background: #000;
  font-size: 16px;
  outline: inherit;
  margin: 40px auto 0px auto;
}
.form_button:after{
  content: 'Отправить';
}

.form{
  width: 460px;
  margin: 0px auto;
  position: relative;
}

.form_title{
  font-size: 28px;
  color: #FFD400;
  margin-bottom: 40px;
}

.form input{
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  border: none;
  outline: inherit;
  background: #0E0E0E;
  height: 70px;
  text-indent: 30px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  color: #FFF;
}


.form textarea{
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  border: none;
  outline: inherit;
  background: #0E0E0E;
  height: 150px;
  padding: 30px;
  width: calc(100% - 60px);
  margin-bottom: 20px;
  font-size: 16px;
  color: #FFF;
  resize: none;
}


.title_section_contacts{
  margin-top: 70px;
  margin-bottom: 45px;
}


.point_contact{
  border: 2px solid #FFD400;
  width: 337px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  overflow: hidden;
}

.point_contact_image{
  width: 68px;
  height: 68px;
  background-position: center;
  background-size: cover;
  margin-left: 40px;
  margin-top: 15px;
  float: left;
  margin-right: 30px;
}
.point_contact_info{
  float: left;
  white-space: nowrap;
}
.point_contact_info_name{
  color: #FFD400;
}
.point_contact_info_post{
  font-size: 12px;
  margin-top: 5px;
}
.point_contact_info_contact{
  overflow: hidden;
  margin-top: 12px;
}
.point_contact_info_contact_icon{
  float: left;
  margin-right: 10px;
}
.point_contact_info_contact_value{
  float: left;
}
.point_contact_info_contact_value a{
  color: #FFF;
  font-size: 14px;
}


.block_price{
  position: relative;
}


.block_price_rectange{
  position: absolute;

}
.block_price_rectange_box{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px solid #FFD400;
  box-sizing: border-box;
}

.block_price_rectange_1{
  width: 26px;
  height: 26px;
  left: calc(50% + 300px);
  top: 300px;
}
.block_price_rectange_2{
  width: 53px;
  height: 53px;
  left: calc(50% + 360px);
  top: -20px;
}
.block_price_rectange_3{
  width: 17px;
  height: 17px;
  left: calc(50% + 500px);
  top: 180px;
}
.block_price_rectange_4{
  width: 53px;
  height: 53px;
  left: calc(50% - 500px);
  top: 220px;
}
.block_price_rectange_5{
  width: 26px;
  height: 26px;
  left: calc(50% - 400px);
  top: 50px;
}
.block_price_rectange_6{
  width: 17px;
  height: 17px;
  left: calc(50% - 500px);
  top: -50px;
}
.block_price_rectange_7{
  width: 17px;
  height: 17px;
  left: calc(50% + 300px);
  top: 900px;
}
.block_price_rectange_8{
  width: 26px;
  height: 26px;
  left: calc(50% + 500px);
  top: 1000px;
}
.block_price_rectange_9{
  width: 53px;
  height: 53px;
  left: calc(50% - 280px);
  top: 850px;
}
.block_price_rectange_10{
  width: 17px;
  height: 17px;
  left: calc(50% - 500px);
  top: 960px;
}

.block_contact_lens{
  position: absolute;
  width: 590px;
  height: 320px;
  left: 50%;
  top: 100px;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.block_contact_lens_mover{
  position: absolute;
  width: 590px;
  height: 320px;
  left: 0%;
  top: 0;
  z-index: 2;
  transition: 0.3s;
}
.block_contact_lens_body{
  position: absolute;
  width: 590px;
  height: 320px;
  left: 0%;
  top: 0;
  z-index: 3;
  transition: 0.3s;
}

.block_contact_lens:hover .block_contact_lens_mover{
  transform: translate(-50px);
}
.block_contact_lens:hover .block_contact_lens_body{
  transform: translate(50px);
}
.block_contact_lens:hover{
  transform: rotate(-35deg);
}
.block_contact_lens_line_left{
  position: absolute;
  height: 380px;
  left: 95px;
  width: 5px;
  background: #FFD400;
  top: -30px;
  z-index: 0;
  box-shadow: 0px 0px 20px 5px rgba(253,211,42,0.3);
}
.block_contact_lens_line_right{
  position: absolute;
  height: 380px;
  right: 110px;
  width: 5px;
  background: #FFD400;
  top: -30px;
  z-index: 4;
  box-shadow: 0px 0px 20px 5px rgba(253,211,42,0.3);
}
.block_contact_lens_line_top{
  position: absolute;
  width: 380px;
  left: 95px;
  height: 5px;
  background: #FFD400;
  top: -30px;
  box-shadow: 0px 0px 20px 5px rgba(253,211,42,0.3);
}
.block_contact_lens_line_bottom{
  position: absolute;
  width: 380px;
  left: 95px;
  height: 5px;
  background: #FFD400;
  bottom: -30px;
  box-shadow: 0px 0px 20px 5px rgba(253,211,42,0.3);
}


.form_thanks{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px solid #FFD400;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #000;
  z-index: 2;
  box-sizing: border-box;
  font-size: 20px;
  display: none;
}

.input_error{
	background-color: #fcbdd2 !important;
}

.head_menu_mobile{
  display: none;
}
.block_menu_mobile{
  display: none;
}

.disabled{
  display: none;
}



.hover_showreel{
  position: absolute;
  left: 0px;
  top: 0px;
  border: 1px solid #FFD400;
  padding: 5px;
  background: #000;
  color: #FFD400;
  font-size: 14px;
  z-index: 10000000;
  pointer-events: none;
  opacity: 0.8;
  display: none;
  width: 150px;
  text-align: center;
}
