body{
  width: 480px;
}

.content{
  width: 345px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 345px;
}

.about_us_description{
  font-size: 14px;
}

.head_content{
  padding-left: 15px;
  padding-right: 15px;
}

.head_menu{
  display: none;
}
.block_center_head_name{
  height: 72px;
  font-size: 72px;
}
.block_center_head_name svg{
  height: 50px;
}
.block_center_head_title{
  font-size: 18px;
}

.point_about_us_text{
  font-size: 14px;
}

.point_about_us{
  width: 50%;
  margin-right: 0;
}
.title_section_plus{
  margin-top: 80px;
  margin-bottom: 30px;
}

.point_plus_text{
  font-size: 14px;
}

.camera{
  left: 330px;
  top: 570px;
}

.camera img{
  width: 255px;
}
.point_plus{
  margin-bottom: 30px;
}
.title_section{
  font-size: 28px;
}
.point_potfolio{
  width: 100%;
}

.point_services_left{
  width: 100%;
}
.point_services_right{
  width: 100%;
}

.point_services_text_block_title{
  font-size: 18px;
}
.point_services_text_block_text{
  font-size: 14px;
}
.point_services_left, .point_services_right{
  height: inherit;
  margin-top: 20px;
}

.point_services_arrow_right{
  transform: rotate(90deg);
}
.point_services_arrow_left{
  transform: rotate(-90deg);
}
.point_services_arrow_right svg{
  width: 70px;
}
.point_services_arrow_left svg{
  width: 70px;
}

.point_services_image img{
  width: 100%;
}
.point_services_right .point_services_image{
  margin-left: 0;
}

.point_services_left .point_services_image{
  margin-left: 40px;
}
.point_services_image_rect{
  width: 190px;
  height: 190px;
  border-width: 2px;
  top: calc(50% - 100px);
}
.point_services_image{
  margin-top: 60px;
  margin-bottom: 60px;
}

.point_services_right .point_services_image_rect{
  right: 0;
}
.point_services_left .point_services_image_rect{
  left: 0;
}

.price_title{
  font-size: 18px;
}

.price_description{
  width: 100%;
}


.block_price_center{
  margin-top: 80px;
}

.block_price_center{
  width: 260px;
}
.block_price_right{
  left: calc(100% + 20px);
}
.block_price_left{
  right: calc(100% + 20px);
}
.block_form_left{
  display: none;
}
.block_form_right{
  width: 100%;
  float: inherit;
}
.form_title{
  font-size: 20px;
}
.form input{
  font-size: 14px;
  height: 60px;
}
.form_button{
  float: left;
  margin-top: 20px;
}

.point_contact{
  width: calc(100% - 4px);
}
.block_contact_lens{
  display: none;
}

.form{
  width: inherit;
}

.block_price_slider{
  width: 320px;
  margin: 100px auto 0px auto;
}
.block_price_center{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
}
.block_price_left{
  width: 100%;
  right: inherit;
  top: inherit;
  position: relative;
  float: right;
}
.block_price_right{

  width: 100%;
  position: relative;
  left: inherit;
  top: inherit;
}

.owl-item{
  float: left;
}

.head_menu_mobile{
  display: block;
  float: right;
  margin-top: 50px;
  cursor: pointer;
}

.block_menu_mobile{
  display: block;
  position: fixed !important;
  width: 190px;
  padding-right: 15px;
  padding-top: 20px;
  height: calc(100% - 20px);
  background: #020202;
  z-index: 10000;
  top: 0;
  right: 0;
  transform: translate(205px);
}
.block_menu_mobile_show{
  transform: translate(0px);
}
.button_close{
  float: right;
}
.block_menu_mobile a{
  color: #FFF;
}
.block_menu_mobile ul{
  list-style: none;
  text-align: right;
  font-size: 16px;
}
.block_menu_mobile li{
  margin-top: 30px;
}
.logo_showreel_hover{
  height: 50px;
  width: 50px;
}
.pop_up_showreel iframe{
  width: 100%;
  top: 100px;
  left: 0;
  height: calc(100% - 100px);
}
