/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/


.owl-theme .owl-controls{
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-nav button{
	color: #FFF;
	zoom: 1;
	width: 40px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: calc(50% - 20px);
	transition: 0.3s;
	background-color: rgba(255,255,255,0);
}
.owl-theme .owl-nav button.disabled{
	display: none;
}

.owl-prev{
	background-image: url(/img/angle-left.svg);
	background-size: 40px 40px;
	left: 0px;
}
.owl-next{
	background-image: url(/img/angle-right.svg);
	background-size: 40px 40px;
	right: 0px;
}


.slider_photo_gk .owl-prev{
	left: 10px;
}

.slider_photo_gk .owl-next{
	right: 10px;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
  	border-radius: 50%;
	background: #FFF;
  	margin-top: 10px;
  	opacity: 1;
  	border: 1px solid #b5b5b5;
  	transition: 0.3s;
}
.slider_developer .owl-controls .owl-page span{
	background: #d31554;
	border-color: #d31554;
}


.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	opacity: 0.5;
	background: #d31554;
	border-color: #d31554;
}
.owl-theme .owl-controls.clickable .active span{
	opacity: 1;
    background: #d31554;
	border-color: #d31554;
}
/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #2ecc71 ;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
.owl-pagination{
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	transition: 0.3s;
}
.quick_ad_slider .owl-pagination{
	text-align: left;
}
.quick_ad_slider .owl-page span{
	margin-top: 12px !important;
	background: #000 !important;
	width: 5px !important;
	height: 5px !important;
	border-radius: 0px !important;
}
