<!DOCTYPE html>
<html>
  <head>
    <title>AflexVideo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <%= stylesheet_link_tag    'application',media: "all" %>

    <% if @mobile==true %>
        <meta name="viewport" content="width=375px,user-scalable=no">
        <%= stylesheet_link_tag 'mobile.css',media: "all" %>
    <% else %>
      <meta name="viewport" content="width=device-width">
    <% end %>

    <%= javascript_include_tag "application",'data-turbolinks-track' => true,:defer => "defer" %>
 
  </head>

  <body>
    
    <input type="hidden" name="mobile" value=<%=@mobile%>>
    
    <%= yield %>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(58487449, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/58487449" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->


  </body>
</html>
